@model SODICTask.Models.AttributeValue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttributeValue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DynamicAttribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DynamicAttribute.DynamicAttributeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttributeValueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
