@model SODICTask.Models.DynamicAttribute

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DynamicAttribute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttributeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttributeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMultipleSelect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMultipleSelect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DynamicAttributeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
