@model IEnumerable<SODICTask.Models.DynamicAttribute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMultipleSelect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttributeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMultipleSelect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DynamicAttributeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DynamicAttributeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DynamicAttributeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
